[Unit]
Description=PaX exception daemon
DefaultDependencies=no
After=systemd-remount-fs.service
Before=sysinit.target
RequiresMountsFor=/var

[Service]
ExecStart=/usr/bin/paxd
